body{
    direction: rtl;
    background-image: url(../images/dark-bg.jpg);
    padding: 90px 100px;
}
.photos img{
    /* width: 300px; */
    width: 90%;
    margin: 20px;
    border: 3px solid #fff;
    border-radius: 20px;
    transition: all .75s;
}

.photos img:hover{
    transform: scale(1.1);
    transition: all .75s;
}